<html>
<head>
    <title>Main page</title>
</head>
<body>
    <form action="/check" method="POST">
        <label for="username">Nome</label>
        <input id="username" type="text" name="username"/>
        <label for="birthdate">Data de nascimento</label>
        <input id="birthdate" type="date" name="birthdate"/>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
